<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <title>Mercury Messenger</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../statics/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../statics/font-awesome.css">

    <link rel="stylesheet" href="../statics/templatemo-softy-pinko.css">

    <link rel="apple-touch-icon" sizes="57x57" href="../statics/assets/fav-icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../statics/assets/fav-icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../statics/assets/fav-icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../statics/assets/fav-icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../statics/assets/fav-icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../statics/assets/fav-icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../statics/assets/fav-icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../statics/assets/fav-icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../statics/assets/fav-icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../statics/assets/fav-icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../statics/assets/fav-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../statics/assets/fav-icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../statics/assets/fav-icons/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../statics/assets/fav-icons/favicon.ico">
    
    <!-- Facebook Pixel Code -->
    <!-- <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '397276145071207');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=397276145071207&ev=PageView&noscript=1"
    /></noscript> -->
    <!-- End Facebook Pixel Code -->

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '415418630102465');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=415418630102465&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-675V215W9L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-675V215W9L');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-196090267-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-196090267-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 10813758545 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10813758545"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-10813758545');
    </script>

    <style>
    body {
        background-color: #ff5a5a;
    }
    a {
        color: #f7f7f7;
    }
    .main {
        font-size: 144px;
        text-align: center;
        font-family: Montserrat;
        font-weight: 700;
        padding-top: 5%;
        color:#f7f7f7;
    }

    .page {
        font-size: 44px;
        font-weight: 300;
    }

    .logo {
        display: flex;
        width: 400px;
        margin: auto;
        margin-top:7%;
    }

    @media only screen and (max-width: 1000px) {
        .main {
            font-size: 64px;
        }

        .page {
            font-size: 28px;
        }

        .logo {
            width: 250px;
        }
    }
    </style>

</head>
    
<body>
    <div></div>

    <div class="main">404</div>
    <div class="main page">Página não encontrada, volte a página inicial <a href="https://www.mercurymsg.tech">clicando aqui</a>.</div>
    <img src="https://mercury-lp.s3.sa-east-1.amazonaws.com/statics/logo-site-white-01.png" class="logo">    
   
</body>
</html>